@import "../../../../assets/styles/variables.less";

.posts {
  border: @CardBorder;
}

.modal{
  padding: 0;
  justify-content: center;
  align-content: center;
}

.modalContent {
  border: none;
}

.postData {
  width: "100%";
  padding: 10px 0;
  border: none;
}